*{background-color:lab(50.07% -11.31 -3.71);}
body{background-image:url("senior-school-science-experiment.jpg.jpeg");}

img{align-self: center;}
h2{text-emphasis: initial;}

button{ text-align: center; background-color: blanchedalmond;}